<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <style>
        div.container fieldset {
            max-width: 300px;
        }

        div.page-header {
            margin-top: 100px;
        }

        /*block按钮字间距*/
        .btn-block {
            letter-spacing: 5px;
        }
    </style>
    @RenderSection("MyStyle", false)
</head>
<body>
    <div class="page-header text-center">
        <h1>@ViewBag.Title</h1>
    </div>

    <div class="container">
        @RenderBody()

        <hr />
        <footer class="text-center">
            copyright 2018 AIIT
        </footer>
    </div>

    <script type="text/javascript" src="~/Scripts/base.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*独立引用【layer.js】的话，需要放在layui的前面*@
    @*<script src="~/Content/layer/layer.js"></script>*@
    <script src="~/Content/layui/layui.all.js"></script>

    @RenderSection("MyScript", false)
</body>
</html>