<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    @*bootstrap 样式和layui有冲突，使用layui的话要注释bootstrap*@
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/my-admin.css" rel="stylesheet" />
    <style>
        body {
            margin: 0;
        }
    </style>
    @RenderSection("MyStyle", false)
</head>
<body>
    @*https://www.layui.com/demo/layuiAdmin.html*@

    <div class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <div class="layui-logo admin-logo">CompanySales</div>
                <!-- 头部区域（可配合layui已有的水平导航） -->
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item">
                        <!--左侧导航的动态缩放-->
                        <a id="shrink" href="javascript:;">
                            <i class="layui-icon layui-icon-spread-left"></i>&nbsp;
                        </a>
                    </li>
                    <li class="layui-nav-item"><a href="/Home/SurveyView" target="_self">控制台</a></li>
                    <li class="layui-nav-item"><a href="/Home/MainView" target="_self">管理中心</a></li>
                    @*<li class="layui-nav-item"><a href="">商品管理</a></li>
                        <li class="layui-nav-item"><a href="">用户</a></li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">其它系统</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">邮件管理</a></dd>
                                <dd><a href="">消息管理</a></dd>
                                <dd><a href="">授权管理</a></dd>
                            </dl>
                        </li>*@
                </ul>
                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <!--请求图片资源增加随机传参 ?rd=Math.random() 防止图片资源缓存 -->
                            <img id="imgHead" src="/Personal/GetUserImg?rd=Math.random()" class="layui-nav-img">
                            @ViewBag.UserName
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="/Personal/BasicInfoView" target="mainContent">基本资料</a></dd>
                            <dd><a href="/Personal/PasswordView" target="mainContent">安全设置</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="/Sign/Logout">退出</a></li>
                </ul>
            </div>

            @RenderBody()

        </div>

    </div>

    <script type="text/javascript" src="~/Scripts/base.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    @*独立引用【layer.js】的话，需要放在layui的前面*@
    @*<script src="~/Content/layer/layer.js"></script>*@
    <script src="~/Content/layui/layui.js"></script>

    @RenderSection("MyScript", false)
</body>
</html>