<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> @ViewBag.Title - xxx进销存管理系统</title>
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <style>
        body {
            height: 100vh;
            background-image: url('../../Images/bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        #tipMsg {
            color: red;
            font-size: 20px;
            /*display: none;*/
        }

        div.container-fluid {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div.form-container {
            width: 400px;
            background: rgba(255,255,255,0.8);
            border-radius: 5px;
            padding: 20px;
        }

        input.btn-block {
            letter-spacing: 10px;
        }
    </style>
    @RenderSection("Styles", false)
</head>
<body>
    <div class="container-fluid">
        <div class="form-container">
            @RenderBody()
        </div>
    </div>

    <script src="~/Scripts/base.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <!--bootstrap的组件js引用必须放在jQuery的后面-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/layui/layui.all.js"></script>
    <!-- js 日期处理类库 -->
    <script src="~/Scripts/moment.js"></script>
    <!-- 滑动拼图 验证，简单的纯前端验证 -->
    <script src="~/Scripts/jigsaw.min.js"></script>
    @RenderSection("Scripts", false)
</body>
@RenderSection("BodyOutside", false)
</html>
